@import "tailwindcss";


@theme {
  --font-script: "Birthstone", "serif";
  --font-sans: "Poppins", "sans-serif";
  --font-weight: 400;
  --white: #FFFFFF;
  --pink: #FF9F9F;
  --red: #FF0004;
  --canon-grid: "/assets/GoldenCanonGrid.png";

  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
  --breakpoint-large: 1920px;
}

p, h1 {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* 
html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0rem;
  padding: 0rem;
  overflow-x: hidden;

}

header {
  width: 100vw;
  height: 100vh;
}

canvas {
  width: 100vw;
  height: 100vh;
} */